// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// TailwindCSS
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.drop-content::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: 5px solid #F3F4F6;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.seperator {
    width: 2px;
    height: 30px;
    background-color: #F3F4F6;
}
